@page "/cart"
@inject IUnitOfWork unitOfwork
@inject AuthenticationStateProvider authProvider
@attribute [Authorize]
@inject RealtimeService realTime
@inject NavigationManager nav


<div class="store-header-min">
    <div class="the-container">
        <div class="row no-margin cart-steps mobile-card-cart-steps">
            <div class="cart-box cart-box--custom">
                <div class="cart-step  active-step ">
                    <div class="step-cont">
                        <div class="icon-cont">
                            <svg width="512px" height="480px" viewBox="0 0 512 480" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="shopping-cart" fill="#000000" fill-rule="nonzero">
                                        <path d="M396,440 C401.519531,440 406,435.519531 406,430 C406,424.480469 401.519531,420 396,420 C390.480469,420 386,424.480469 386,430 C386,435.519531 390.480469,440 396,440 Z" id="Path"></path>
                                        <path d="M230,440 C235.519531,440 240,435.519531 240,430 C240,424.480469 235.519531,420 230,420 C224.480469,420 220,424.480469 220,430 C220,435.519531 224.480469,440 230,440 Z" id="Path"></path>
                                        <path d="M509.882812,123.847656 C507.988281,121.417969 505.078125,120 502,120 L141.996094,120 L119.203125,23.125 C115.992188,9.507812 103.980469,0 90,0 L30,0 C13.457031,0 0,13.457031 0,30 C0,46.542969 13.457031,60 30,60 L66.238281,60 L140.796875,376.875 C144.007812,390.492188 156.019531,400 170,400 L190.027344,400 C183.734375,408.363281 180,418.753906 180,430 C180,457.570312 202.429688,480 230,480 C257.570312,480 280,457.570312 280,430 C280,418.753906 276.265625,408.363281 269.972656,400 L356.027344,400 C349.734375,408.363281 346,418.753906 346,430 C346,457.570312 368.429688,480 396,480 C423.570312,480 446,457.570312 446,430 C446,418.753906 442.265625,408.363281 435.972656,400 L436,400 C452.542969,400 466,386.542969 466,370 C466,353.457031 452.542969,340 436,340 L193.761719,340 L184.347656,300 L242.96875,300 L242.988281,300 L243.003906,300 L388.996094,300 L389.015625,300 L389.035156,300 L446.382812,300 C460.167969,300 472.140625,290.65625 475.492188,277.273438 L511.703125,132.425781 C512.449219,129.4375 511.777344,126.273438 509.882812,123.847656 L509.882812,123.847656 Z M474.191406,200 L410.328125,200 L417.828125,140 L489.191406,140 L474.191406,200 Z M356,220 L387.671875,220 L380.171875,280 L326,280 L326,250 C326,244.476562 321.523438,240 316,240 C310.476562,240 306,244.476562 306,250 L306,280 L251.828125,280 L244.328125,220 L276,220 C281.523438,220 286,215.523438 286,210 C286,204.476562 281.523438,200 276,200 L241.828125,200 L234.328125,140 L306,140 L306,170 C306,175.523438 310.476562,180 316,180 C321.523438,180 326,175.523438 326,170 L326,140 L397.671875,140 L390.171875,200 L356,200 C350.476562,200 346,204.476562 346,210 C346,215.523438 350.476562,220 356,220 Z M179.640625,280 L165.523438,220 L224.171875,220 L231.671875,280 L179.640625,280 Z M214.171875,140 L221.671875,200 L160.816406,200 L146.703125,140 L214.171875,140 Z M260,430 C260,446.542969 246.542969,460 230,460 C213.457031,460 200,446.542969 200,430 C200,413.457031 213.457031,400 230,400 C246.542969,400 260,413.457031 260,430 Z M426,430 C426,446.542969 412.542969,460 396,460 C379.457031,460 366,446.542969 366,430 C366,413.457031 379.457031,400 396,400 C412.542969,400 426,413.457031 426,430 Z M436,360 C441.515625,360 446,364.484375 446,370 C446,375.515625 441.515625,380 436,380 L170,380 C165.339844,380 161.335938,376.828125 160.265625,372.289062 L82.078125,40 L30,40 C24.484375,40 20,35.515625 20,30 C20,24.484375 24.484375,20 30,20 L90,20 C94.660156,20 98.664062,23.171875 99.734375,27.710938 L161.921875,292.003906 C161.925781,292.019531 161.929688,292.035156 161.933594,292.054688 L177.921875,360 L436,360 Z M456.089844,272.417969 C454.972656,276.882812 450.980469,280 446.378906,280 L400.328125,280 L407.828125,220 L469.195312,220 L456.089844,272.417969 Z" id="Shape"></path>
                                        <path d="M316,200 C310.480469,200 306,204.480469 306,210 C306,215.519531 310.480469,220 316,220 C321.519531,220 326,215.519531 326,210 C326,204.480469 321.519531,200 316,200 Z" id="Path"></path>
                                    </g>
                                </g>
                            </svg>
                            <div class="cart-number">
                                <i class="icon-checkmark4"></i>
                            </div>
                        </div>
                        <div class="cart-title">
                            <small>الخطوة الأولى</small>
                            <span>سلة المشتريات</span>
                        </div>
                    </div>
                </div>
                <div class="cart-step ">
                    <div class="step-cont">
                        <div class="icon-cont">
                            <svg width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="wallet" fill="#000000" fill-rule="nonzero">
                                        <path d="M336,336 C330.480469,336 326,340.480469 326,346 C326,351.519531 330.480469,356 336,356 C341.519531,356 346,351.519531 346,346 C346,340.480469 341.519531,336 336,336 Z" id="Path"></path>
                                        <path d="M200,326 C194.484375,326 190,321.515625 190,316 C190,310.484375 194.484375,306 200,306 C203.542969,306 207.28125,307.808594 210.816406,311.226562 C214.785156,315.066406 221.117188,314.964844 224.957031,310.992188 C228.796875,307.023438 228.691406,300.695312 224.722656,296.855469 C219.648438,291.941406 214.570312,289.164062 210,287.648438 L210,276 C210,270.476562 205.523438,266 200,266 C194.476562,266 190,270.476562 190,276 L190,287.71875 C178.359375,291.847656 170,302.964844 170,316 C170,332.542969 183.457031,346 200,346 C205.511719,346 210,350.484375 210,356 C210,361.515625 205.511719,366 200,366 C195.726562,366 191.113281,363.3125 187.011719,358.433594 C183.460938,354.207031 177.152344,353.660156 172.925781,357.214844 C168.695312,360.769531 168.152344,367.078125 171.703125,371.304688 C177.050781,377.664062 183.335938,382.09375 190,384.328125 L190,396 C190,401.523438 194.476562,406 200,406 C205.523438,406 210,401.523438 210,396 L210,384.28125 C221.636719,380.152344 230,369.035156 230,356 C230,339.457031 216.542969,326 200,326 L200,326 Z" id="Path"></path>
                                        <path d="M120,166 C125.523438,166 130,161.523438 130,156 L130,116 C130,110.476562 125.523438,106 120,106 C114.476562,106 110,110.476562 110,116 L110,156 C110,161.523438 114.476562,166 120,166 Z" id="Path"></path>
                                        <path d="M472,236 L472,156 C472,128.429688 449.570312,106 422,106 L366,106 L366,30 C366,13.457031 352.542969,0 336,0 L150,0 C133.457031,0 120,13.457031 120,30 L120,66 L90,66 C73.457031,66 60,79.457031 60,96 L60,106 L50,106 C22.429688,106 0,128.429688 0,156 L0,462 C0,489.570312 22.429688,512 50,512 L356,512 C380.144531,512 400.347656,494.796875 404.992188,472 L422,472 C449.570312,472 472,449.570312 472,422 L472,396 L482,396 C498.542969,396 512,382.542969 512,366 L512,276 C512,253.945312 494.054688,236 472,236 Z M492,276 C492,287.046875 483.046875,296 472,296 L472,256 C483.027344,256 492,264.972656 492,276 Z M422,126 C438.542969,126 452,139.457031 452,156 L452,296 L406,296 L406,236 C406,211.855469 388.796875,191.652344 366,187.007812 L366,126 L422,126 Z M140,30 C140,24.484375 144.484375,20 150,20 L336,20 C341.515625,20 346,24.484375 346,30 L346,186 L300,186 L300,96 C300,79.457031 286.542969,66 270,66 L140,66 L140,30 Z M240,186 L240,86 L270,86 C275.515625,86 280,90.484375 280,96 L280,186 L240,186 Z M180,186 L180,86 L220,86 L220,186 L180,186 Z M80,96 C80,90.484375 84.484375,86 90,86 L160,86 L160,186 L80,186 L80,96 Z M50,126 L60,126 L60,186 L52.140625,186 C35.613281,186 20,174.03125 20,156 C20,139.457031 33.457031,126 50,126 Z M356,492 L50,492 C33.457031,492 20,478.542969 20,462 L20,195.382812 C28.941406,202.042969 40.171875,206 52.140625,206 L356,206 C372.542969,206 386,219.457031 386,236 L386,296 L316,296 C299.457031,296 286,309.457031 286,326 L286,366 C286,382.542969 299.457031,396 316,396 L386,396 L386,462 C386,478.542969 372.542969,492 356,492 Z M452,422 C452,438.542969 438.542969,452 422,452 L406,452 L406,396 L452,396 L452,422 Z M482,376 L316,376 C310.484375,376 306,371.515625 306,366 L306,326 C306,320.484375 310.484375,316 316,316 L472,316 C479.136719,316 485.984375,314.132812 492,310.644531 L492,366 C492,371.515625 487.515625,376 482,376 Z" id="Shape"></path>
                                        <path d="M422,336 L376,336 C370.476562,336 366,340.476562 366,346 C366,351.523438 370.476562,356 376,356 L422,356 C427.523438,356 432,351.523438 432,346 C432,340.476562 427.523438,336 422,336 Z" id="Path"></path>
                                    </g>
                                </g>
                            </svg>
                            <div class="cart-number">
                                2
                            </div>
                        </div>
                        <div class="cart-title">
                            <small>الخطوة الثالثة</small>
                            <span>طريقة الدفع</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content page-container-cart" id="cart-content">
    <div class="the-container">
        <EditForm Model="TotalOrderModel" id="form">
            <DataAnnotationsValidator />
            @foreach (var orderModel in orderModels)
            {
                if (orderModel.Paid) continue;
                <div class="product-cart">
                    <a @onclick="() => {unitOfwork.OrderRepository.Remove(orderModel.Id); unitOfwork.Complete(); orderModels.Remove(orderModel); UpdateTotalPrice(); }" href="#" id="remove_item" class="delete-button">
                        <i class="icon-cross3"></i>
                    </a>
                    <div class="product-info row">
                        <a href="@($"{nav.BaseUri}{orderModel.IdProduct}")"><img src="@orderModel.ProductModel.Images.LastOrDefault().ImageUrl" alt="مفتاح مفرد ابيض"></a>
                        <a href="@($"{nav.BaseUri}{orderModel.IdProduct}")" class="pc-title">
                            <p class="product-name">@orderModel.ProductModel.Name</p>
                        </a>
                        <p class="product-price" id="product-price-569788079">
                            @orderModel.ProductModel.Price ر.س
                        </p>
                        <p class="product-summary">
                            الإجمالي
                            <span id="itemTotal-569788079">
                                @orderModel.Price ر.س
                            </span>
                            <span id="itemOffer-569788079" style="display: none">
                                <span id="itemOffer-price-569788079">
                                    0 ر.س
                                </span>
                                <i class="sicon-discount-calculator"></i>
                                <span id="itemOffer-name-569788079">
                                </span>
                            </span>
                        </p>
                        <p class="clear"></p>
                    </div>
                    <div class="product-options">
                        <ul class="list list--vertical list--product-fields">
                            <li class="form-group qty-field-wrapper form-group--wide">
                                <label class="product-option-name required">الكمية</label>
                                <div>
                                    <div class="btn-group qty-field qty-field--custom" role="group">
                                        <button @onclick="() => { orderModel.Quantity++; orderModel.Price = orderModel.ProductModel.Price.Value * orderModel.Quantity;   if (orderModel.Quantity > 100 || orderModel.Quantity < 1) { orderModel.Quantity = 0; orderModel.Price = orderModel.Quantity = 1; orderModel.Price =orderModel.ProductModel.Price.Value * orderModel.Quantity; } UpdateTotalPrice(); }" type="button" class="btn btn-secondary btn--qty-add">
                                            <i class="sicon-add"></i>
                                        </button>
                                        <InputNumber @oninput='(e) => {string val = (string)e.Value;  if (int.Parse(val) > 100 || int.Parse(val) < 1 ) { orderModel.Quantity = 1; orderModel.Price = orderModel.ProductModel.Price.Value; } else {orderModel.Price = orderModel.ProductModel.Price.Value * int.Parse(val);} UpdateTotalPrice(); }' @bind-Value="orderModel.Quantity" />
                                        <ValidationMessage For="()=> orderModel.Quantity" />
                                        <button @onclick=" ()=> { orderModel.Quantity--; orderModel.Price = orderModel.ProductModel.Price.Value * orderModel.Quantity;  if (orderModel.Quantity > 100 || orderModel.Quantity < 1) { orderModel.Quantity = 0; orderModel.Price = orderModel.Quantity = 1; orderModel.Price =orderModel.ProductModel.Price.Value * orderModel.Quantity;  } UpdateTotalPrice(); }" type="button" class="btn btn-secondary btn--qty-sub">
                                            <i class="sicon-minus"></i>
                                        </button>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            }

        </EditForm>div
        <input type="hidden" id="form_data" name="form_data" value="">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group coupon">
                    <input type="text" placeholder="ادخل الكوبون" class="form-control" id="apply_coupon_form_coupon_code" value="">
                    <button type="button" class="btn" id="apply_coupon_form_submit">تطبيق</button>
                </div>
            </div>
        </div>
        <div class="cart-total-box">
            <i class="fa fa-calculator"></i>
            <span class="cart-total-title">مجموع السلة</span>
            <span class="product-price-bg">
                <span style="color:#5a5a5a" id="cartTotal"> @TotalOrderModel.TotalPrice ر.س</span>
            </span>
        </div>
        <div class="cart-nav row shipping-bar">
            <div class="col-sm-9" id="free-shipping-bar">
            </div>
            <div class="col-sm-3 cart-next-button">
                <a @onclick="FinishTheOrder" href="#" id="submit_cart" class="cart-nav-solid" style="padding-right: 13px;" rel="nofollow">
                    <span>إتمام الطلب</span>
                    <i class="icon-chevron-left"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@code{
    List<OrderModel> orderModels = new List<OrderModel>();
    AuthenticationState AuthenticationState;
    public TotalOrderModel TotalOrderModel { get; set; } = new TotalOrderModel();

    private void FinishTheOrder()
    {

        nav.NavigateTo("/payment");


    }

    protected async override Task OnInitializedAsync()
    {
        AuthenticationState = await authProvider.GetAuthenticationStateAsync();
        if (realTime.GetCurrentUser().Result !=null)
        {


            await unitOfwork.ProductRepository.GetALL();
            orderModels = unitOfwork.OrderRepository.GetAll(await realTime.GetCurrentUser());


        }
        UpdateTotalPrice();

    }



    private void UpdateTotalPrice()
    {
        TotalOrderModel.TotalPrice = 0;
        orderModels.ForEach(w => { if (!w.Paid) { TotalOrderModel.TotalPrice += w.Price; } });
        realTime.Price = TotalOrderModel.TotalPrice;
    }
}