@page "/{id:int}"
@inject IUnitOfWork unitOfwork
@inject IJSRuntime js
@inject NavigationManager nav
@inject IUnitOfWork unitOfwork
@inject RealtimeService realtimeSerive
@inject AuthenticationStateProvider auth
@inject RealtimeServiceOnline realTimeOnline
@inject Extensions ex



<section style="background: #FAFAFA;" class="py-3">
    <div class="container product-details" id="product-313590033" data-itemid="313590033" data-productid="313590033">
        <div class="row">
            <div class="col-md-6">
                <div id="sp-slider-cont">
                    <div class="thumb product-carousel owl-carousel owl-theme  owl-rtl owl-loaded owl-drag">
                        <div dir="ltr">
                            <WMBlazorSlickCarousel.WMBSC.BlazorSlickCarousel @ref="theCarousel" Configurations="configurations">
                                <BlazorSlickCarouselContent>
                                    @if (productModel.Images.Count > 1)
                                    {
                                        @foreach (var image in productModel.Images.Skip(1))
                                        {

                                            <div><img src="@image.ImageUrl"></div>

                                        }



                                    }
                                    else
                                    {
                                        @foreach (var image in productModel.Images)
                                        {

                                            <div><img src="@image.ImageUrl"></div>

                                        }
                                    }

                                </BlazorSlickCarouselContent>
                                <BlazorSlickCarouselLoading />
                            </WMBlazorSlickCarousel.WMBSC.BlazorSlickCarousel>
                        </div>




                    </div>
                </div>

                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                    <div class="pswp__bg"></div>

                    <div class="pswp__scroll-wrap">

                        <div class="pswp__container">

                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                        </div>

                        <div class="pswp__ui pswp__ui--hidden">
                            <div class="pswp__top-bar">

                                <div class="pswp__counter"></div>
                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>


                                <div class="pswp__preloader">
                                    <div class="pswp__preloader__icn">
                                        <div class="pswp__preloader__cut">
                                            <div class="pswp__preloader__donut"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                <div class="pswp__share-tooltip"></div>
                            </div>
                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                            </button>
                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                            </button>
                            <div class="pswp__caption">
                                <div class="pswp__caption__center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style product-details__social-share" data-a2a-icon-color="transparent" style="line-height: 32px;">
                    <a class="a2a_button_whatsapp" target="_blank" href="/#whatsapp" rel="nofollow noopener"><span class="a2a_svg a2a_s__default a2a_s_whatsapp" style="background-color: transparent;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M16.21 4.41C9.973 4.41 4.917 9.465 4.917 15.7c0 2.134.592 4.13 1.62 5.832L4.5 27.59l6.25-2.002a11.241 11.241 0 0 0 5.46 1.404c6.234 0 11.29-5.055 11.29-11.29 0-6.237-5.056-11.292-11.29-11.292zm0 20.69c-1.91 0-3.69-.57-5.173-1.553l-3.61 1.156 1.173-3.49a9.345 9.345 0 0 1-1.79-5.512c0-5.18 4.217-9.4 9.4-9.4 5.183 0 9.397 4.22 9.397 9.4 0 5.188-4.214 9.4-9.398 9.4zm5.293-6.832c-.284-.155-1.673-.906-1.934-1.012-.265-.106-.455-.16-.658.12s-.78.91-.954 1.096c-.176.186-.345.203-.628.048-.282-.154-1.2-.494-2.264-1.517-.83-.795-1.373-1.76-1.53-2.055-.158-.295 0-.445.15-.584.134-.124.3-.326.45-.488.15-.163.203-.28.306-.47.104-.19.06-.36-.005-.506-.066-.147-.59-1.587-.81-2.173-.218-.586-.46-.498-.63-.505-.168-.007-.358-.038-.55-.045-.19-.007-.51.054-.78.332-.277.274-1.05.943-1.1 2.362-.055 1.418.926 2.826 1.064 3.023.137.2 1.874 3.272 4.76 4.537 2.888 1.264 2.9.878 3.43.85.53-.027 1.734-.633 2-1.297.266-.664.287-1.24.22-1.363-.07-.123-.26-.203-.54-.357z"></path></svg></span><span class=""></span></a>
                    <a class="a2a_button_twitter" target="_blank" href="/#twitter" rel="nofollow noopener"><span class="a2a_svg a2a_s__default a2a_s_twitter" style="background-color: transparent;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M28 8.557a9.913 9.913 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.738 9.738 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.893 9.893 0 0 1-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z"></path></svg></span><span class="a2a_label"></span></a>
                    <a class="a2a_button_facebook" target="_blank" href="/#facebook" rel="nofollow noopener"><span class="a2a_svg a2a_s__default a2a_s_facebook" style="background-color: transparent;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path></svg></span><span class="a2a_label"></span></a>
                    <a class="a2a_button_telegram" target="_blank" href="/#telegram" rel="nofollow noopener"><span class="a2a_svg a2a_s__default a2a_s_telegram" style="background-color: transparent;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M25.515 6.896L6.027 14.41c-1.33.534-1.322 1.276-.243 1.606l5 1.56 1.72 5.66c.226.625.115.873.77.873.506 0 .73-.235 1.012-.51l2.43-2.363 5.056 3.734c.93.514 1.602.25 1.834-.863l3.32-15.638c.338-1.363-.52-1.98-1.41-1.577z"></path></svg></span><span class="a2a_label"></span></a>
                    <a class="a2a_button_sms" target="_blank" href="/#sms" rel="nofollow noopener"><span class="a2a_svg a2a_s__default a2a_s_sms" style="background-color: transparent;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M16 3.543c-7.177 0-13 4.612-13 10.294 0 3.35 2.027 6.33 5.16 8.21 1.71 1.565 1.542 4.08-.827 6.41 2.874 0 7.445-1.698 8.462-4.34H16c7.176 0 13-4.605 13-10.285s-5.824-10.29-13-10.29zM9.045 17.376c-.73 0-1.45-.19-1.81-.388l.294-1.194c.384.2.98.398 1.6.398.66 0 1.01-.275 1.01-.692 0-.398-.302-.625-1.07-.9-1.06-.37-1.753-.957-1.753-1.886 0-1.09.91-1.924 2.415-1.924.72 0 1.25.152 1.63.322l-.322 1.166a3.037 3.037 0 0 0-1.336-.303c-.625 0-.93.284-.93.616 0 .41.36.59 1.186.9 1.127.42 1.658 1.01 1.658 1.91.003 1.07-.822 1.98-2.575 1.98zm9.053-.095l-.095-2.44a72.993 72.993 0 0 1-.057-2.626h-.028a35.41 35.41 0 0 1-.71 2.475l-.778 2.49h-1.128l-.682-2.473a29.602 29.602 0 0 1-.578-2.493h-.02c-.037.863-.065 1.85-.112 2.645l-.114 2.425H12.46l.407-6.386h1.924l.63 2.13c.2.74.397 1.536.54 2.285h.027a52.9 52.9 0 0 1 .607-2.293l.683-2.12h1.886l.35 6.386H18.1zm4.09.1c-.73 0-1.45-.19-1.81-.39l.293-1.194c.39.2.99.398 1.605.398.663 0 1.014-.275 1.014-.692 0-.396-.305-.623-1.07-.9-1.064-.37-1.755-.955-1.755-1.884 0-1.09.91-1.924 2.416-1.924.72 0 1.25.153 1.63.323l-.322 1.166a3.038 3.038 0 0 0-1.337-.303c-.625 0-.93.284-.93.616 0 .408.36.588 1.186.9 1.127.42 1.658 1.006 1.658 1.906.002 1.07-.823 1.98-2.576 1.98z"></path></svg></span><span class="a2a_label"></span></a>
                    <a class="a2a_button_copy_link" target="_blank" href="/#copy_link" rel="nofollow noopener"><span class="a2a_svg a2a_s__default a2a_s_link" style="background-color: transparent;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M24.412 21.177c0-.36-.126-.665-.377-.917l-2.804-2.804a1.235 1.235 0 0 0-.913-.378c-.377 0-.7.144-.97.43.026.028.11.11.255.25.144.14.24.236.29.29s.117.14.2.256c.087.117.146.232.177.344.03.112.046.236.046.37 0 .36-.126.666-.377.918a1.25 1.25 0 0 1-.918.377 1.4 1.4 0 0 1-.373-.047 1.062 1.062 0 0 1-.345-.175 2.268 2.268 0 0 1-.256-.2 6.815 6.815 0 0 1-.29-.29c-.14-.142-.223-.23-.25-.254-.297.28-.445.607-.445.984 0 .36.126.664.377.916l2.778 2.79c.243.243.548.364.917.364.36 0 .665-.118.917-.35l1.982-1.97c.252-.25.378-.55.378-.9zm-9.477-9.504c0-.36-.126-.665-.377-.917l-2.777-2.79a1.235 1.235 0 0 0-.913-.378c-.35 0-.656.12-.917.364L7.967 9.92c-.254.252-.38.553-.38.903 0 .36.126.665.38.917l2.802 2.804c.242.243.547.364.916.364.377 0 .7-.14.97-.418-.026-.027-.11-.11-.255-.25s-.24-.235-.29-.29a2.675 2.675 0 0 1-.2-.255 1.052 1.052 0 0 1-.176-.344 1.396 1.396 0 0 1-.047-.37c0-.36.126-.662.377-.914.252-.252.557-.377.917-.377.136 0 .26.015.37.046.114.03.23.09.346.175.117.085.202.153.256.2.054.05.15.148.29.29.14.146.222.23.25.258.294-.278.442-.606.442-.983zM27 21.177c0 1.078-.382 1.99-1.146 2.736l-1.982 1.968c-.745.75-1.658 1.12-2.736 1.12-1.087 0-2.004-.38-2.75-1.143l-2.777-2.79c-.75-.747-1.12-1.66-1.12-2.737 0-1.106.392-2.046 1.183-2.818l-1.186-1.185c-.774.79-1.708 1.186-2.805 1.186-1.078 0-1.995-.376-2.75-1.13l-2.803-2.81C5.377 12.82 5 11.903 5 10.826c0-1.08.382-1.993 1.146-2.738L8.128 6.12C8.873 5.372 9.785 5 10.864 5c1.087 0 2.004.382 2.75 1.146l2.777 2.79c.75.747 1.12 1.66 1.12 2.737 0 1.105-.392 2.045-1.183 2.817l1.186 1.186c.774-.79 1.708-1.186 2.805-1.186 1.078 0 1.995.377 2.75 1.132l2.804 2.804c.754.755 1.13 1.672 1.13 2.75z"></path></svg></span><span class="a2a_label"> </span></a>
                    <div style="clear: both;"></div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="mb-10">
                    <h1 class="product-details__title brand-title">
                        @productModel.Name
                        
                    </h1>
                    <span class="product-price" id="product_price_313590033">
                        @productModel.Price ر.س
                    </span>
                    <span id="price-before_313590033"></span>
                    <span id="price-after_313590033"></span>
                </div>
                <div class="@readMoreClass" data-shrink-height="300" style="@height">
                    @((MarkupString)productModel.ProductModelDetails.Details)
                </div>
                <div class="pd-expand-wrapper">
                    <button @onclick="ReadMoreButton" class="btn btn-default expand-toggle">@readMoreOrLess</button>
                </div>

                @*<div class="product-tags clearfix mb-sm-30">
                        <h2 class="title title--small">الوسوم:</h2>
                        <ul class="list list--horizontal list--tags">
                            <li><a href="https://nory.sa/tags/904673135">صاعق</a> </li>
                            <li><a href="https://nory.sa/tags/1476864110">ناموس</a> </li>
                            <li><a href="https://nory.sa/tags/238684525">ذباب</a> </li>
                            <li><a href="https://nory.sa/tags/1012787820">مصائد</a> </li>
                        </ul>
                    </div>*@
                <div class="product-form">
                    <div id="order" class="row no-margin product-order-container">
                        <div class="col-xs-12">
                            <EditForm Model="orderModel" OnValidSubmit="()=> ex.AddToCart(productModel,orderModel)" id="addproduct">
                                <DataAnnotationsValidator />
                                <input type="hidden" name="_token" value="bsin5V4TpsuQXgBjCEJfM4dAcBwwOZeXmkQk787L">
                                <ul class="list list--vertical list--product-fields">
                                    <li class="form-group qty-field-wrapper form-group--wide">
                                        <label class="product-option-name required">الكمية:</label>
                                        <div class="product-option-select">
                                            <div class="btn-group qty-field qty-field--custom" role="group">
                                                <button @onclick="() => { orderModel.Quantity++; orderModel.Price = productModel.Price.Value * orderModel.Quantity;   if (orderModel.Quantity > 100 || orderModel.Quantity < 1) { orderModel.Quantity = 0; orderModel.Price = orderModel.Quantity = 1; orderModel.Price =productModel.Price.Value * orderModel.Quantity; }  }" type="button" class="btn btn-secondary btn--qty-add">
                                                    <i class="sicon-add"></i>
                                                </button>
                                                <InputNumber @oninput='(e) => {string val = (string)e.Value;  if (int.Parse(val) > 100 || int.Parse(val) < 1 ) { orderModel.Quantity = 1; orderModel.Price = productModel.Price.Value; } else {orderModel.Price = productModel.Price.Value * int.Parse(val);} }' @bind-Value="orderModel.Quantity" />
                                                <div style="color:red">
                                                    <ValidationMessage For="()=> orderModel.Quantity" />

                                                </div>
                                                <button @onclick=" ()=> { orderModel.Quantity--; orderModel.Price = productModel.Price.Value * orderModel.Quantity;  if (orderModel.Quantity > 100 || orderModel.Quantity < 1) { orderModel.Quantity = 0; orderModel.Price = orderModel.Quantity = 1; orderModel.Price =productModel.Price.Value * orderModel.Quantity;  }  }" type="button" class="btn btn-secondary btn--qty-sub">
                                                    <i class="sicon-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    </li>
                                    <li class="form-group product-buttons product-page-buttons ">
                                        <div class="product-buttons-wrapper">
                                        </div>
                                    </li>
                                    <li class="form-group form-group--price form-group--price">
                                        <label class="product-details__price">
                                            السعر
                                        </label>
                                        <div>
                                            <span class="product-price" id="product_price_313590033">
                                                @orderModel.Price
                                            </span>
                                            <span id="price-before_313590033"></span>
                                            <span id="price-after_313590033"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="cart-fav mobile-webview-hide">
                                    <button type="submit" style="background-color:#00887e" class="product-add add-cart-large add_to_cart_large_btn" rel="nofollow" data-cart-btn="" data-salla-click-event="cart::adding-item" data-product-id="313590033" data-price="150" data-currency="SAR">
                                        أضف للسلة
                                    </button>
                                    <button type="button" data-product-id="313590033" data-salla-click-event="wishlist::remove-item" class="btn btn-rounded remove-from-wishlist  hide ">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                    <button type="button" data-product-id="313590033" data-price="150" data-currency="SAR" data-salla-click-event="wishlist::add-item" class="btn btn-rounded add-to-wishlist ">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                </div>
                                <input type="hidden" id="product_id" name="product_id" value="313590033">
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container py-3">
    <form id="comment_form" class="ask-form ajax">
        <input type="hidden" name="_token" value="bDvzLxxb9629HIthxlSay4yrfMLpCb5YYcr08FC8">
        <div id="my_name_uIZSXXKB00ZUe3dc_wrap" style="display:none;">
            <input name="my_name_uIZSXXKB00ZUe3dc" type="text" value="" id="my_name_uIZSXXKB00ZUe3dc">
            <input name="valid_from" type="text" value="eyJpdiI6IkpsVzFtTUVlMm15UU43aXh6bXRqdlE9PSIsInZhbHVlIjoiak1jY0NIVnpzbjNxZlYyN2pBUUp6dz09IiwibWFjIjoiOTZjNjc3Zjk5ZTk5MTVjNTBkMTIxY2E4MmU5ZmMwMTlmZDM1ZTFkNzhjOTUxMDk3NzliZGMxNTRkYjE4NjFmOCJ9">
        </div>
        <div class="form-group">

<textarea @bind-value:event="oninput" @bind-value="CommentModel.Message" id="ask_textarea" name="ask_textarea" class="form-control" placeholder="هل يوجد لديك سؤال معين؟" rows="3" maxlength="500" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 76px;"></textarea>
        </div>
        <div class="ask-form-footer row justify-content-between">
            <div class="col-md-6 mb-2 mb-md-0">
                <button @onclick="SendComment" id="ask_button" type="button" class="btn btn-primary">ارسل السؤال</button>
            </div>

        </div>
    </form>
</div>
<div class="container py-3">
    <div class="infinite-scroll ">
        @if (CommentModels.Count > 0)
        {
            @foreach (var comment in CommentModels.OrderByDescending(w => w.DateTime.Date).ThenByDescending(w => w.DateTime.TimeOfDay))
            {

                if (comment.IdProduct == productModel.ID)
                {
                    <div class="comment" id="r_1759115">
                        <div class="comment-header">
                            <img src="https://assets.salla.cloud/themes/default/assets/images/avatar_male.png" alt="">
                            <span class="comment-name">@comment.User.Name</span>
                            @*<span class="comment-time">منذ سنة</span>*@
                            @*<span class="comment-badge"><i class="icon-checkmark4"></i> قام بالشراء</span>*@
                            @*<span class="text-semibold">
                                    وتم تقييمه
                                    <div class="rating-stars">
                                        <i class="fa fa-star star-on"></i>
                                        <i class="fa fa-star star-on"></i>
                                        <i class="fa fa-star star-on"></i>
                                        <i class="fa fa-star star-on"></i>
                                        <i class="fa fa-star star-off"></i>
                                    </div>
                                </span>*@
                        </div>
                        <div class="comment-body">
                            @comment.Message
                        </div>
                    </div>
                }

            }

        }
        else
        {
            <div class="empty-comments">
                <i class="sicon-chat-bubbles-alt"></i>
                <p>لا توجد أسئلة بعد</p>
            </div>
        }


    </div>
    <div class="render" style="text-align:center;display: none">
    </div>
    <div class="page-load-status" style="display: none">
        <div class="infinite-scroll-request">
            <div class="loader"></div>
        </div>
    </div>
</div>




@code {
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }
    AuthenticationState authenticationState;
    ProductModel productModel = new ProductModel();
    OrderModel orderModel = new OrderModel();
    TotalOrderModel totalOrderModel = new TotalOrderModel();
    public BlazorSlickCarousel theCarousel;
    public WMBSCInitialSettings configurations;
    public CommentModel CommentModel { get; set; } = new CommentModel();
    public List<CommentModel> CommentModels { get; set; } = new List<CommentModel>();

    #region ReadMoreOrLessProprties
    string height = "height:300px;";
    string readMoreClass = "product-detials__desc pd-exp";
    string readMoreOrLess = "تفاصيل اكثر";
    #endregion


    private void SendComment()
    {
        CommentModel.IdProduct = productModel.ID;
        CommentModel.IdUser = realtimeSerive.GetCurrentUser().Result;
        CommentModel.Reply = false;
        CommentModel.DateTime = DateTime.Now;
        unitOfwork.ProductRepository.AddComment(CommentModel);
        unitOfwork.Complete();
        js.ToastrSuccess("تم ارسال التعليق بنجاح");
        CommentModel.Message = null;
        CommentModels = unitOfwork.ProductRepository.GetAllComments();

    }


    private void ReadMoreButton()
    {
        if (height == "height:300px;")
        {
            height = "";
            readMoreClass = "product-detials__desc pd-exp expanded";
            readMoreOrLess = "تفاصيل اقل";
        }
        else
        {
            height = "height:300px;";
            readMoreClass = "product-detials__desc pd-exp";
            readMoreOrLess = "تفاصيل اكثر";
        }
    }

   

    protected async override Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationState;
        CommentModels = unitOfwork.ProductRepository.GetAllComments();

        productModel = unitOfwork.ProductRepository.GetById(Id);
        if (productModel != null)
        {
            orderModel.Price = productModel.Price.Value;

            configurations = new WMBSCInitialSettings
            {
                lazyLoad = "ondemand",
                dots = true

            };

        }
        else
        {
            nav.NavigateTo("/");
        }


    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {


    }

}
